<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="css/layer.mobile-v2.0/layer_mobile/need/layer.css" />
  <link rel="stylesheet" type="text/css" href="css/base.css" />
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <title>下载使用</title>
</head>

<body>
  <div>
    <div id="qrcodes">
      <div id="android_qrcode"></div>
      <div class="qrcodes_text">安卓下载二维码</div>
    </div>

    <div id="qrcodes">
      <div id="IOS_qrcode"></div>
      <div class="qrcodes_text">IOS下载二维码</div>
    </div>

    <div id="qrcodes">
      <div id="wxSmallProcedures_qrcode"></div>
      <div class="qrcodes_text">小程序二维码</div>
    </div>



  </div>
</body>
<script type="text/javascript" src="js/layer.mobile-v2.0/layer_mobile/layer.js"></script>

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/qrcode.min.js"></script>
<script type="text/javascript" src="js/download.js"></script>


</html>