<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="Chrome=1,IE=edge" />
  <meta name="baidu-site-verification" content="fchvDjhZJD" />
<link rel="stylesheet" type="text/css" href="css/base.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
<link rel="stylesheet" type="text/css" href="css/layer.mobile-v2.0/layer_mobile/need/layer.css" />

<head>
	<title></title>
</head>

<body>
	<div class="content">
		<div class="inside">
			<div class="banner">
				<img src="__ROOT__/Apps/Home/View/default/images/acceptInvite_img/banner.jpg">
			</div>
			<div class="form">
				<p>
					<input class="phone" type="text" name="phone" placeholder="请输入手机号">
					<span class="errTip hide">手机号不正确！</span>
				</p>
				<div class="VerificationCodeCnt">
					<p style="width: 65%">
						<input class="verify" type="text" name="verify" placeholder="请输入验证码">
					</p>
					<div class="getVerificationCode">获取验证码</div>
				</div>
				<span class="errTip hide">不可为空！</span>

				<div class="acceptBtn">
					<div class="submit acceptInfo" type="submit" value="">接受邀请</div>
				</div>
			</div>

		</div>
	</div>
</body>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/index.js"></script>
<script type="text/javascript" src="js/layer.mobile-v2.0/layer_mobile/layer.js"></script>




</html>